{% extends "layout.html.twig" %}

{% block title %}Расчет стоимости доставки BoxBerry{% endblock %}

{% block body %}
    <style>
        .calc-form label {
            width: 70px;
            display: inline-block;
        }

        .calc-form div {
            margin-bottom: 10px;
        }
    </style>
    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Расчет стоимости доставки BoxBerry</div>
                    <div class="panel-body">
                        <form id="calc-form">
                            <div class="form-group">
                                <label for="city-selector">Город</label>
                                <select name="city" id="city-selector" class="form-control">
                                    <option value="-1">Выберите город</option>
                                    {% for key,city in cities %}
                                        <option value="{{ city.Code }}">{{ city.Name }}</option>
                                    {% endfor %}
                                </select>
                                <p class="text-danger form-errors" style="display: none" id="city-points-error">пунктов
                                    выдачи не найдено</p>
                            </div>
                            <div class="form-group" style="display: none">
                                <label for="point-selector">Выберите пункт выдачи</label>
                                <select name="point-id" id="point-selector" class="form-control">
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="weight-input">Вес, гр.</label>
                                <input type="text" class="form-control" id="weight-input" name="order-weight"
                                       placeholder="Вес заказа">
                            </div>
                            <div class="form-group">
                                <label for="order-sum">Сумма заказа, руб.</label>
                                <input type="text" id="order-sum" name="order-sum" class="form-control"
                                       placeholder="Сумма заказа">
                            </div>
                            <button type="submit" class="btn btn-default">Рассчитать</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="display: none" id="delivery-cost-block">
                <p>Стоимость доставки: <b id="delivery-cost"></b></p>
                <p>Срок доставки: <b id="delivery-period"></b></p>
            </div>
        </div>
    </div>
    <script>
        window.onload = function () {
            $('body').on('change', '#city-selector', function (e) {
                $('.form-errors').hide();
                $('#point-selector option').remove();
                var code = $(this).find("option:selected").val();
                if (code) {
                    var url = '{{ path("get-points", {'code': 0}) }}';
                    url = url.replace('0', code);
                    $.get(url, null, function (resp) {
                        if (resp.status == 1) {
                            $('#point-selector').empty().html(resp.html).parent('.form-group').show();
                            return false;
                        }
                        $('#city-points-error').show();
                    });
                }
                return false;
            });

            $('body').on('submit', '#calc-form', function (e) {
                $('#delivery-cost-block').hide();
                $('#delivery-cost,#delivery-period').text('');
                var form = $(this).serialize();
                console.log(form);
                $.get('{{ path("calculate") }}', form, function (resp) {
                    console.log(resp);
                    $('#delivery-cost-block').show();
                    if (resp.status == 1) {
                        $('#delivery-cost').text(resp.price + ' руб.');
                        $('#delivery-period').text(resp.period + ' дн.');
                        return false;
                    }
                    $('#delivery-cost').text('Ошибка расчета тарифа');
                });

                return false;
            });
        };
    </script>
{% endblock %}
