<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title> {% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link href="https://yastatic.net/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<script type="application/javascript" src="https://yastatic.net/jquery/2.2.3/jquery.min.js"></script>
<script type="application/javascript" src="https://yastatic.net/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>